*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/* regole generali */
#container{
    height: 100vh;
}

.container-flex{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;

}

li{
    list-style-type: none;
}

.mt-1{
    margin-top: 10px;
}

.mb-2{
    margin-bottom: 20px;
}

.col-grey{
    color: rgb(165, 165, 165);
}

.center{
    text-align: center;
}
/* regole colonna home */

.colonna-home{
    width: 180px;
    background-color: black;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
}

.logo{
    margin: 15px;
}

.logo-small{
    display: none;
}

#img-logo{
    width: 110px;
}

.navigazione{
    margin: 10px 0 20px 20px;
    flex-grow: 1;
    color: rgb(165, 165, 165);
}

.font-home{
    font-size: .6rem;
}

#img-library{
    width: 22px;
}

li a{
    color: rgb(165, 165, 165);
}

#font-playlist-big{
    font-size: 0.9rem;
}

.font-playlist{
    font-size: 0.7rem;
}

.font-playlist:hover{
    color: white;
}

li a:hover{
    color: white;
}

li:hover{
    color: white;
}

.font-home:hover{
    color: white;
}

#playlist{
    color: white;
    font-size: 0.7rem;
    margin-top: 30px;
}

.fa-square-plus{
    font-size: 1.3rem;
}

.account{
    margin: 15px;
    color: rgb(165, 165, 165);
}

#install{
    font-size: .7rem;
    margin-bottom: 10px;
}

#section-account{
    margin-top: 10px;
}


/* regole contenuti musicali */
.contenuti-musicali{
    width: calc(100vw - 180px);
    background-color: #141922;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

#upgrade{
    width: calc(100% - 180px);
    height: 65px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    right: 0;
}

#button-upgrade{
    margin-right: 15px;
    padding: 10px 35px;
    border: solid 1px grey;
    border-radius: 40px;
    font-size: .6rem;
    color: rgb(165, 165, 165);

}

#nav-in-evidenza{
    margin: 0 auto;
    height: 50px;
    margin-top: 80px;
}

#nav-evidenza-flex{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    font-size: .7rem;
}

#nav-evidenza-flex:hover{
    color: white;
}



/* sezione Recent played */

.section-title{
color: white;
margin: 30px 15px;
font-size: 1.2rem;
}

.mb-3{
    margin-bottom: 30px;
}

.mb-1{
    margin-bottom: 10px;
}

.container-playlist{
    width: calc(100% - 20px);
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 80px;
}

.square{
    width: calc(100% / 6 - 10px);
    margin-right: 10px;
}

.font-name-album{
    color: white;
    text-align: center;
    font-size: .7rem;
    margin: 10px 0;
}

.font-artist{
    color: rgb(165, 165, 165);
    font-size: .5rem;
}

.ml-15{
    margin-left: 15px;
}

.round{
    width: calc(100% / 6 - 10px);
    margin-right: 10px;
}

.img-round{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.img-album{
    width: 100%;
}


/* regole comandi riproduzione */
.comandi-riproduzione{
    height: 70px;
    width: 100vw;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

#img-small{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.brano-ascolto{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container-title-name-music{
    margin-left: 10px;
}

#name-riproduzione{
    color: white;
    font-size: .5rem;
}

#title-riproduzione{
    font-size: .4rem;
    color: rgb(165, 165, 165);
}

.icon{
    color: rgb(165, 165, 165);
    margin-left: 10px;
    font-size: .7rem;
}

.icon-player{
    color: white;
    font-size: .9rem;
    text-align: center;
    margin-top: 10px;
}

.mr-15{
    margin-right: 15px;
}

.play{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-bar-flex{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.time{
    width: 20%;
    font-size: .5rem;
    color: rgb(165, 165, 165);
}

.right{
    text-align: right;
    margin-right: 10px;
}

.left{
    margin-left: 10px;
}

.barra{
    height: 2px;
    width: 60%;
    background-color: rgb(165, 165, 165);
    margin: 15px auto;
    position: relative;
}

.border{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 20%;
    height: 2px;
}



.volume{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.volume-barra{
    width: 50%;
    height: 2px;
    background-color: rgb(165, 165, 165);
    margin-right: 15px;
    margin-left: 10px;
    position: relative;
}

.volume-barra-bianca{
    width: 10%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
}








/* responsive tablet */
@media all and (max-width: 670px){

    .container-playlist{
        flex-wrap: wrap;
    }
    .square{
        width: calc(100% / 4 - 10px);
    }
}

/* responsive xs */
@media all and (max-width: 420px) {
    .colonna-home{
        width: 40px;
    }

    .logo-small{
        display: inline;
        width: 20px;
        margin: 0;
    }
    
    .font-home, #playlist{
        display: none;
    }

    .navigazione, .logo{
        margin: 10px auto 0px;
    }

    .account{
        margin: 10px auto;
    }
    
    #img-logo, .install-app, hr{
        display: none;
    
    }



    .contenuti-musicali{
        width: calc(100vw - 40px)
    }

    .account{
        width: 50%;
    }

    .square{
        width: calc(100% / 2 - 10px);

    }

    #upgrade{
        width: calc(100% - 40px);
    }

}