*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/* regole generali */
#container{
    height: 100vh;
}

.container-flex{
    display: flex;
    justify-content: space-between;
}
/* regole colonna home */

.colonna-home{
    width: 180px;
    background-color: black;
    height: calc(100vh - 70px);
    position: relative;
}

.logo{
    margin: 10px;

    /* debug */
    height: 80px;
    background-color: blue;


}

.navigazione{
    margin: 10px;

    /* debug */
    height: 300px;
    background-color: beige;
}

.account{
    margin: 10px;
    position: absolute;
    bottom: 10px;
    width: 90%;

    /* debug */
    height: 80px;
    background-color: blanchedalmond;
}


/* regole contenuti musicali */
.contenuti-musicali{
    width: calc(100vw - 180px);
    background-color: #141922;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

#upgrade{
    width: 100%;
    height: 65px;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: right;
}

#button-upgrade{
    height: 32px;
    width: 100px;
    text-align: right;


    /* debug */
    background-color: red;
}


/* regole comandi riproduzione */
.comandi-riproduzione{
    height: 70px;
    width: 100vw;
    background-color: #282828;
}




/* responsive xs */
@media all and (max-width: 420px) {
    .colonna-home{
        width: 40px;
    }

    .contenuti-musicali{
        width: calc(100vw - 40px);
    }

    .account{
        width: 50%;
    }
}